<mat-drawer-container>
    <mat-drawer #drawer mode="push">
      <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
      <br>
      <h1>Demir D</h1>
      <mat-list role="list">
        <mat-list-item role="listitem"><a mat-button>Customer</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button>Kirey Demir</a></mat-list-item>
        
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      
      <div class="splash">
        
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="desktop-hide" (click)="drawer.toggle()">
          reorder
        </mat-icon>
        <div class="splash-content slide-in-left">
          <h1>LET'S GROW YOUR BUSINESS<br><br><span class="text-focus-in">together</span></h1>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="column">
            <mat-icon aria-hidden="false" aria-label="Example business icon">business</mat-icon>
            <h3>Zero To Hero</h3>
            <p>Hit the ground running with comprehensive, modern UI components that work across the web, mobile, and
              desktop.
            </p>
          </div>
          <div class="column">
            <mat-icon aria-hidden="false" aria-label="Example schedule icon">schedule</mat-icon>
            <h3>Fast and Consistent </h3>
            <p>Finely tuned performance, because every millisecond counts. Fully tested across modern browsers.
            </p>
          </div>
          <div class="column">
            <mat-icon aria-hidden="false" aria-label="Example work icon">work</mat-icon>
            <h3>Optimized for Angular
            </h3>
            <p>Built by the Angular team to integrate seamlessly with Angular. so that all users are welcome.
            </p>
          </div>
        </div>
      </div>
      <div class="contents">
        <h1>Services
        </h1>
        <div class="row">
          <div class="column center-content">
            <h3>Angular Material Form
            </h3>
            <p>Angular Material is a component used to wrap several Angular Material components and apply common Text
              field styles such as the underline, floating label, and hint messages.
            </p>
          </div>
          <div class="column">
            <img class="odd" src="https://unsplash.com/photos/ZzOa5G8hSPI/download?force=true">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img class="even" src="https://unsplash.com/photos/IT6aov1ScW0/download?force=true">
          </div>
          <div class="column center-content">
            <h3>Angular Material Buttons
            </h3>
            <p>Angular Material buttons are native button or a tags elements enhanced with Material Design styling and ink
              ripples.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="column center-content">
            <h3>Angular Material Stepper</h3>
            <p>Material stepper builds on the foundation of the CDK stepper that is responsible for the logic that drives
              a stepped workflow. Material stepper extends the CDK stepper and has Material Design styling.
            </p>
          </div>
          <div class="column">
            <img class="odd" src="https://unsplash.com/photos/7aakZdIl4vg/download?force=true">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img class="even" src="https://unsplash.com/photos/wUZjnOv7t0g/download?force=true">
          </div>
          <div class="column center-content">
            <h3>Angular Material Tables
            </h3>
            <p>This table builds on the foundation of the CDK data-table and uses a similar interface for its data input
              and template.
            </p>
          </div>
        </div>
      </div>
      <div class="contactus">
        
        
      </div>
      <div class="footer" color="primary">
        <mat-toolbar color="primary">
          <span>Demir Dazdarevic 2022</span>
        </mat-toolbar>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
