<div class="content-section implementation">
 
  <h2>Data Management</h2>

<p-button (click)="gfg()" label="New Record" class="newBtn"></p-button>
<p-dialog header="New Record" [(visible)]="visibility">
    

<div class="register-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      
      <input
        type="text"
        formControlName="fullname"
        class="form-control"
        pInputText
        name="Name"
        [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
      />
      
      <div *ngIf=" f['fullname'].errors" class="invalid-feedback">
        <div *ngIf="f['fullname'].errors['pattern']"><h4>Letters only allowed!</h4></div>
      </div>

      <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
        <div *ngIf="f['fullname'].errors['required']"><h4>Fullname is required</h4></div>
        <div *ngIf="f['fullname'].errors['pattern']"><h4>Letters only allowed!</h4></div>
      </div>
    </div>
    <div class="form-group">
      <label>Code</label>
      <input
        type="text"
        formControlName="code"
        class="form-control"
        pInputText
        name="Code"
        [ngClass]="{ 'is-invalid': submitted && f['code'].errors }"
      />
      <div *ngIf="submitted && f['code'].errors" class="invalid-feedback">
        <div *ngIf="f['code'].errors['required']"><h4>Code is required</h4></div>
        <div *ngIf="f['code'].errors['minlength']">
          <h4>Code must be at least 6 characters</h4>
        </div>
        <div *ngIf="f['code'].errors['maxlength']">
          <h4>Code must not exceed 20 characters</h4>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="timeonly">Duration</label>
      <p-calendar formControlName="duration" name="Duration" inputid="timeonly" [showTime]="true" hourFormat="24" placeholder="hh:mm:ss" aria-valuenow="00:00:01" [defaultDate]="datum" [showSeconds]="true" [timeOnly]="true"></p-calendar>
      <!--<div *ngIf="submitted && f['timeonly'].errors" class="invalid-feedback">
        <div *ngIf="f['timeonly'].errors['required']"><h4>Duration is required.</h4></div>
        
      </div> -->
    </div>
    
    <div class="form-group">
      <label>Number of Accounts</label>
      <input
        type="number"
        formControlName="number"
        class="form-control"
        pInputText
        min="0"
        name="NumberOfAccounts"
        [ngClass]="{ 'is-invalid': submitted && f['number'].errors }"
      />
      <div *ngIf="submitted && f['number'].errors" class="invalid-feedback">
        <div *ngIf="f['number'].errors['required']"><h4>Number is required.</h4></div>
        <div *ngIf="f['number'].errors['number']"><h4>Number can not be zero.</h4></div>
      </div>
    </div>
    
    
    <div class="form-group form-check">
      
     
      <!--<div *ngIf="submitted" class="invalid-feedback">
        <h4>Fix errors!</h4>
      </div> -->
    </div>
    <div class="form-group">
      <button type="submit" pButton class="btn btn-primary addBtn">Add New</button>
      <button
        type="button"
        pButton 
        (click)="onReset()"
        class="btn btn-warning float-right rstBtn"
      >
        Reset
      </button>
    </div>
  </form>
</div>
  
</p-dialog>

<p-table [value]="data" styleClass="ui-corner-all">
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Duration</th>
          <th>Number Of Accounts</th>
          <th>Date Of Creation</th>
          <th> Administration </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
      <tr>

          <td>{{data.Name}}</td>
          <td>{{data.Code}}</td>
          <td>{{data.Duration}}</td>
          <td>{{data.NumberOfAccounts}}</td>
          <td>{{data.DateOfCreation}}</td>
          <td>
            <button mat-fab *ngIf="moze" (click)="Update(data)" class="scale-up-center">
              <i class="pi pi-spin pi-pencil" style="font-size: 2rem"></i>
              </button>
              <button mat-fab *ngIf="moze" (click)="Delete(data.id)" class="scale-up-center">
                <i class="pi pi-trash" style="font-size: 2rem"></i>
              </button>
          </td>
      </tr>
  </ng-template>
</p-table>

</div>